.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #2563eb; 
  top: 0;
  z-index: 100;
  font-family: Georgia;
}


.header-logo {
  font-size: 2.8rem;
  font-weight: bold;
  color: #fff;
}

.header-search {
  flex: 1;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;

}

.header-search input {
  width: 60%;
  padding: 20px;
  border: none;
  border-radius: 9px 0 0 9px;
  outline: none;
}

.header-search input::placeholder {
  color: #b0adad; 
  font-size: 1.6rem;

}

.header-search button {
  padding: 8px 15px;
  border: none;
  background-color: #fff;
  color: #2563eb;
  border-radius: 0 9px 9px 0;
  cursor: pointer;
  font-weight: bold;
  font-size: 2.1rem;
  font-family: Georgia;
}

.header-search button:hover {
  background-color: #e0e0e0;
  transform: scale(1.05);
}

.header-icons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.icon-account-icon {
  font-size: 3.2rem;
  color: #fff;
  cursor: pointer;
  transition: color 0.2s;
  margin-right: 30px;
}

.icon-account-icon:hover, .icon-cart-icon:hover {
  color: #d1d1d1;
  transform: scale(1.1);
}

.icon-cart-icon {
  font-size: 3.2rem;
  color: #fff;
  cursor: pointer;
  transition: color 0.2s;
}


