.navbar {
  display: flex;
  justify-content: center;
  background-color: #dbeafe;
  padding: 0.5rem 0;
  font-family: Georgia;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 2.5rem;
}

.nav-link {
  margin: 0 1.5rem;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  cursor: pointer;
}

.nav-link:hover {
  color: #007bff;
}

.nav-link.active {
  color: #007bff;
  border-bottom: 2px solid #007bff;
  padding-bottom: 2px;
}
